article:first-child {
    box-shadow: 0 0 1em 0 rgb(0, 0, 0, 0.3);
    border-radius: 0.3em;
    margin: 2em auto;
    max-width: 150ch;
    padding: 2em;
    background-color: #fff;
}

footer p {
    max-width: 90ch;
    margin: 0 auto;
}

header p {
    max-width: 50ch;
    margin: 1em auto;
}

article.laws-art {
    display: flex;
    gap: 2em;
    justify-content: space-evenly;
}

article.laws-art p {
    max-width: 38ch;
}

hr {
    max-width: 50px;
    margin: 2em auto;
    color: lightgray;
    border: 1px solid #eee;
}

header, footer {
    text-align: center;
}

header p, footer p {
    color: #888;
}

header h1 {
    padding-bottom: 0.5em;
}