* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    padding: 4em;
}

h1 {
    margin-bottom: 1em;
}

ul li {
    display: block;
}

details summary::-webkit-details-marker {
    display:none;
}

details summary {
    display: flex;
    gap: 0.5em;
    align-items: center;
}

details summary::before {
    content: "+";
    font-size: 1.5;
    line-height: 14px;
    width: 1em;
    aspect-ratio: 1/1;
    background: green;
    color: white;
    border-radius: 50%;
    text-align: center;
    padding: 0em, 3em;
    position: relative;
    z-index: 2;
}

details[open] > summary::before {
    content: "-";
}

ul li {
    border-left: 1px solid gray;
    display: flex;
    margin: 0.2em 0;
    position: relative;
}

ul li::before {
    content: '';
    display: block;
    border: solid gray;
    border-width: 0 0 2px 2px;
    border-bottom-left-radius: 0.3em;
    width: 1em;
    height: 1em;
    position: relative;
    left: -2px;
    top: -0.4em;
    z-index: 1;
}

ul {
    padding-left: 0.5em;
}

ul li:last-child::after {
    display: block;
    content: '';
    width: 2px;
    background: white;
    position: absolute;
    left: -2px;
    bottom: 0;
    height: 100%;
}