.display-block-sect, .display-inline-sect, .display-inline-block-sect {
    border: 2px solid black;
    padding: 1em 2em 1em 2em;
    margin-bottom: 2em;
    display: b;
}

.display-block-sect p {
    border: 1px solid lightgray;
    padding: 1em;
    display: block; 
}

.display-inline-sect p {
    border: 1px solid lightgray;
    padding: 1em;
    display: inline;
}

.display-inline-block-sect p {
    border: 1px solid lightgray;
    padding: 1em;
    display: inline-block;
}