ul {
    display: flex;
    gap: 1em;
    flex-wrap: wrap;
    max-width: 800px;
    margin: 4em auto;
}

ul li {
    flex: 1 1 300px;
    display: block;
    background: #fff;
    box-shadow: 0 0 1em 0 rgb(0, 0, 0, 0.2);
    border-radius: 0.3em;
    display: flex;
    align-items: start;
    justify-content: space-between;
}

ul li:last-child {
    max-width: 400px;
    flex-basis: 300px;
    flex-shrink: 1;
    flex-grow: 1;
}

ul li span .content {
    padding: 2em;
}

ul li span {
    display: block;
}

ul li::after {
    display: inline-block;
    background: orange;
    color: white;
    padding: 0.7em 1.5em;
    border-radius: 0.3em;
    box-shadow: -0.2em 0.2em 0 0 rgb(0, 0, 0, 0.1);
}

ul li:nth-child(1)::after {content: "01";}
ul li:nth-child(2)::after  {content: "02";}
ul li:nth-child(3)::after  {content: "03";}
ul li:nth-child(4)::after  {content: "04";}
ul li:nth-child(5)::after  {content: "05";}

@media (max-width: 600px) {
    ul li:last-child {
        max-width: 800px;
        flex-basis: 300px;
        flex-grow: 1;
        flex-shrink: 1;
    }
}