h1 {
    color: blue;
}

p {
    font-size: 20px;
}

.highlight {
    background-color: yellow;
}

#main-title {
    color: green;
}

#special-paragraph {
    font-style: italic;
}

ul {
    color: rebeccapurple;
}

li {
    color: cyan;
}

div {
    background-color: beige;
}