.wrapper {
    box-shadow: 0 0 1em 0 rgb(0, 0, 0, 0.2);
    background-color: #fff;
    margin: 10em auto;
    padding: 2em;
    max-width: 700px;
    border-radius: 0.3em;
}

body {
    background-color: #eee;
}

.wrapper p {
    padding: 1em 0;
}

.wrapper ul {
    padding-left: 2em;
}