body {
    font-family: Arial, Helvetica, sans-serif;
}

article p, .direct {
    color: gray;
}

.article-inside-article {
    background-color: lightcoral;
}

li {
    list-style: none;
    font-weight: bold;
    line-height: 2;
}

.li-2 {
    color: red;
}

li a {
    text-decoration: none;
    color: blue;
}

.li-a3 a {
    color: green;
}

h2 ~ p {
    color: blue;
}