.wrapper {
    border: 1px solid blue;
    padding: 0 1em 0 1em;
    max-width: 300px;
    display: flex;
}

.wrapper p {
    border: 2px solid black;
    background-color: #eee;
    padding: 1em;
}

.wrap-2 p:nth-child(1) {
    order: 5;
}

.wrap-2 p:nth-child(2) {
    order: 3;
}

.wrap-2 p:nth-child(3) {
    order: 1;
}

.wrap-2 p:nth-child(4) {
    order: 6;
}

.wrap-2 p:nth-child(5) {
    order: 2;
}


.wrap-2 p:nth-child(6) {
    order: 4;
}